# Telegram Bot Token
# Consíguelo hablando con @BotFather en Telegram
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Seguridad
JWT_SECRET_KEY=clave_super_secreta_de_64_caracteres_minimo_para_produccion_cambiala

# Mensajes Personalizados (Usa {user} y {time})
# MSG_LLEGADA=¡Hola! {user} llegó a su destino. ✅ ({time})
# MSG_SALIDA=¡Hola! {user} está volviendo. 🏠 ({time})
